---
import BaseLayout from "../../layouts/BaseLayout.astro";
const heroName = "Haze";
const pageTitle = "Haze";
---
<BaseLayout pageTitle = {pageTitle}>
    <h2>
        info on haze
    </h2>
</BaseLayout>