---
---
<div class="nav-links">
    <a href="/">DEADLOCKDATA</a>
    <a href="/meta">Meta</a>
    <a href="/trends">Trends</a>
    <a href="/matches">Matches</a>
    <a href="/leaderboard">Leaderboard</a>
    <a href="/players">PlayerSteamName</a>
</div>
